# Python
__pycache__/
*.py[cod]
*.pyo

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Env
venv/
.env

# 构建产物 / 导出包
bi-dashboard.tar.gz
bi-dashboard-src.tar.gz

# 杂项 / 缓存 / 临时文件
root@*
.pnpm-store/
